<h2>Conta Corrente Pessoa Jurídica</h2>

<div class="content">
  <div *ngFor="let item of brand$ | async" (click)="selectBrand(item)">
    <button>{{item.key}}</button> &nbsp;
  </div>
  <hr>
  <div *ngFor="let companie of companies$ | async">
    Brand: {{companie.name}} <br />
    Instituição: {{companie.name}}
    <br />
    <br />
    <div *ngFor="let biz of companie.businessAccounts">
      Tipo de Conta: {{biz.type}} <br /><br />

      <div *ngFor="let bundle of biz.serviceBundles">
        -
        <b>
          {{bundle.name}} (min. R$ {{bundle.minimum.value}}) - (max. R${{bundle.maximum.value}})</b>
        <br />

        <div *ngFor="let interval of bundle.prices">
          -- {{interval.interval}} - R$ {{interval.monthlyFee}} -> Distr. {{interval.customers.rate * 100 | number :
          '1.2-2'}}%<br />
        </div>
        <br />
      </div>
      <div *ngFor="let service of biz.fees.services">
        - {{service.name}} <br>
        <div *ngFor="let price of service.prices">
          -- R$ {{price.value }} -> | Distr. {{price.customers.rate * 100 | number : '1.2-2'}}%
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>